.profile {
  padding: 32px;
}

.settingsHeader {
  padding: 32px;
  min-height: 216px;
  background-color: #282828;
  .avatar {
    min-width: 132px;
  }
  .selectAvatar {
    display: none;
  }
  .v-avatar {
    cursor: pointer;
  }
  .v-icon {
    display: inline-flex !important;
  }
}